@page "/chunk"
<PageTitle>LINQ Marbles - Chunk</PageTitle>

<PageContainer OperatorText="Chunk(2)">
    <InputPanel>
        @foreach (var marble in _marbles)
        {
            <Marble Color="@marble.Color"
                    Close="@(() => _marbles.Remove(marble))">
                @marble.Number
            </Marble>
        }
        <AddMarble DefaultContent="5" OnAdd="AddNumber" T="int" />
    </InputPanel>
    <OutputPanel>
        @foreach (var marbles in _marbles.Chunk(2))
        {
            <div class="array">
                @foreach (var marble in marbles)
                {
                    <Marble Color="@marble.Color">@marble.Number</Marble>
                }
            </div>
        }
    </OutputPanel>
</PageContainer>

@code {
    [CascadingParameter] GlobalObject? _globalObject { get; set; }

    private List<MarbleNumberModel> _marbles;

    protected override void OnInitialized()
    {
        _marbles = new()
        {
            new(1, _globalObject!),
            new(2, _globalObject!),
            new(3, _globalObject!),
            new(4, _globalObject!)
        };
    }

    private void AddNumber(int number)
    {
        _marbles.Add(new MarbleNumberModel(number, _globalObject!));
    }
}
